.ui-slider .ui-btn-corner-all {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.ui-slider .ui-btn-inner {
    padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
    position: absolute;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 40px;
    padding-top: 12px;
    z-index: 100;
}
