.ui-cp-headercontainer
{
    text-align: center;
}

.ui-cp-headercontainer h4
{
    display: inline-block;
    height:53px;
    zoom:1;
    *display: inline;
}

.ui-cp-next
{
    float: right;
}

.ui-cp-previous
{
    float: left;
}

.ui-cp-weekday
{
    clear: both;
    padding-bottom: 2px;
    padding-top: 4px;
}

.ui-cp-date
{
    width: 62px;
    height: 44px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    zoom:1;
    margin:0px;
    padding:1px;
    *display: inline;
}

.ui-cp-date-disabled
{
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid transparent;
    color:#888;
}

.ui-cp-month
{
    height: 25px !important;
    line-height: 25px !important;
    padding-bottom: 2px;
    background-color:#E6E6E6;
    color:#000
}

.ui-cp-container {
    border: 0px;
    width: 468px;
    height:424px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 13px;
    background-color:#E6E6E6;
    z-index: 400;
}

.ui-cpcontainer-hidden { display: none; }

.ui-calendarbtncommon {
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #B0B0B0;
    font-weight: bold;
    color: #000000;
    text-shadow: 0 1px 1px #f6f6f6;
}

.ui-btn-up-lastdaybutton {
    color: #0000FF;
}

.ui-btn-up-firstdaybutton {
    color: #FF0000;
}
