.content-secondary {
    padding: 20px;
}

.content-primary {
    padding: 20px;
}

h1, h4 {
    margin: 2px 10px;
    text-align: center;
}

.content-secondary strong {
    color: #558E08;
}

.content-secondary p {
    border-top: 1px solid #75AE18;
    padding-top: 2em;
    font-size: 0.8em;
    line-height: 1.2em;
}

#calendarinputcontainer{
    width: 100%;
}

#calendarinputcontainer #label {
    float: left;
    width: 110px;
    padding-top:10px;
}

#calendarinputcontainer #selectedCalendarDate {
    float: left;
    width: 130px;
}

#calendarinputcontainer #calendarbutton{
    float: left;
}

/* for layout demos */
.layout-demo-big {
    width: 400px;
    height: 200px;
    background-color: white;
    padding: 10px;
}

.layout-demo-tiny {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 10px;
}

.layout-demo-short-div {
    height: 600px;
}

.layout-demo-onehundred {
    height: 100px;
    width: 100px;
    background-color: white;
}
.layout-demo-twohundred {
    height: 200px;
    width: 200px;
    background-color: white;
}
.layout-demo-threehundred {
    height: 300px;
    width: 300px;
    background-color: white;
}
.layout-demo-fourhundred {
    height: 400px;
    width: 400px;
    background-color: white;
}
.layout-demo-red {
    background-color: #700;
    color: white;
}
.layout-demo-blue {
    background-color: #007;
    color: white;
}

/* for swipelist demo */
#swipelist-demo .ui-swipelist-item-cover-inner {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -14px;
}

/*
 * manipulating scrollview elements' style
 */

#scroller-demo h4 {
    font-size: 1.4em;
    text-align: left
}

#scroller1 .ui-scrollview-clip {
    height: 100px;
    border: 1px solid #155678;
}

#scroller2 .ui-scrollview-clip {
    height: 300px; /* container height */
    border: 1px solid #155678;
}

/*
 * set the width of the content
 * else the checkbox will extend to the right edge
 */
#scroller2Content {
    width: 205px;
}

/* hide scroll bar from #scroller2 element */
#scroller2 .ui-scrollbar {
    visibility: hidden; /* bound to checkbox in init.js */
}

#scroller3 .ui-scrollview-clip {
    height: 30px; /* container height */
    width: 480px; /* container width */
    white-space: nowrap; /* makes items all in a single line, instead of wrapping - remove to get multiple rows */
    border: 1px solid #155678;
}

#scroller3 li {
    display: inline; /* puts the <li>s next to each other */
}

#scroller3 .ui-scrollview-view {
    width: 5100px; /* total list width - should be calculated to sum of width of content */
}

#scroller4 .ui-scrollview-clip {
    height: 200px; /* container height */
    border: 1px solid #155678;
}

#scroller5 .ui-scrollview-clip {
    height: 30px; /* container height */
    width: 480px; /* container width */
    white-space: nowrap; /* makes items all in a single line, instead of wrapping - remove to get multiple rows */
    border: 1px solid #155678;
}

#scroller5 li {
    display: inline; /* puts the <li>s next to each other */
}

#scroller5 .ui-scrollview-view {
    width: 5100px; /* total list width - should be calculated to sum of width of content */
}

/* end of scrollview widgets */

#short-person-picker .ui-scrollview-clip {
    height: 400px;
}

/* singleimagedisplay style */

/* horizontally center the thumbnail images in the container */
.singleimagedisplay-hcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* vertically center the thumbnail images in the container */
.singleimagedisplay-vcenter {
    display: table-cell;
    vertical-align: middle;
}

/* size the container of the thumbnail images
 * and put a frame around it
 */
.singleimagedisplay-container {
    border: 10px ridge #155678;
    width: 100px;
    height: 100px;
}

/* end of singleimagedisplay style */

/* ctxpopup style */

.ctxpopup-demo-clicker {
    position: relative;
    display: block;
    height: 1201px;
}

.ctxpopup-demo-clicker .ctxpopup-demo-indicator {
    position: absolute;
    background: red;
    width: 6px;
    height: 6px;
    pointer-events: none;
}

/* end of ctxpopup style */
