.content-secondary {
    padding: 20px;
}

.content-primary {
    padding: 20px;
}

h1, h4 {
    margin: 2px 10px;
    text-align: center;
}

.content-secondary strong {
    color: #558E08;
}

.content-secondary p {
    border-top: 1px solid #75AE18;
    padding-top: 2em;
    font-size: 0.8em;
    line-height: 1.2em;
}

#calendarinputcontainer{
    width: 100%;
}

#calendarinputcontainer #label {
    float: left; 
    width: 110px;
    padding-top:10px;
}

#calendarinputcontainer #selectedCalendarDate { 
    float: left;
    width: 130px;
}

#calendarinputcontainer #calendarbutton{
    float: left;
    width: 33%;
}

/*
 * manipulating scrollview elements' style
 */

#scroller-demo h4 {
    font-size: 1.4em;
    text-align: left
}

#scroller1 .ui-scrollview-clip {
    height: 100px;
    border: 1px solid #155678;
}

#scroller2 .ui-scrollview-clip {
    height: 300px; /* container height */
    border: 1px solid #155678;
}

/*
 * set the width of the content
 * else the checkbox will extend to the right edge
 */
#scroller2Content {
    width: 205px;
}

/* hide scroll bar from #scroller2 element */
#scroller2 .ui-scrollbar {
    visibility: hidden; /* bound to checkbox in init.js */
}

#scroller3 .ui-scrollview-clip {
    height: 30px; /* container height */
    width: 480px; /* container width */
    white-space: nowrap; /* makes items all in a single line, instead of wrapping - remove to get multiple rows */
    border: 1px solid #155678;
}

#scroller3 li {
    display: inline; /* puts the <li>s next to each other */
}

#scroller3 .ui-scrollview-view {
    width: 5100px; /* total list width - should be calculated to sum of width of content */
}

#scroller4 .ui-scrollview-clip {
    height: 200px; /* container height */
    border: 1px solid #155678;
}

#scroller5 .ui-scrollview-clip {
    height: 30px; /* container height */
    width: 480px; /* container width */
    white-space: nowrap; /* makes items all in a single line, instead of wrapping - remove to get multiple rows */
    border: 1px solid #155678;
}

#scroller5 li {
    display: inline; /* puts the <li>s next to each other */
}

#scroller5 .ui-scrollview-view {
    width: 5100px; /* total list width - should be calculated to sum of width of content */
}

/* end of scrollview widgets */
