.ui-toggleswitch {
    position: relative;
    display: table;

    .toggleswitch-button-outside {
        left: 0px;
        top: 0px;
        position: absolute;
    }

    .toggleswitch-button-inside {
        display: block;
    }

    .toggleswitch-button-transparent {
        opacity: 0;
    }

    .toggleswitch-inner-active {
        position: absolute;
        left: 0px;
        top: 0px;
    }
}
