.ui-toggleswitch {
    position: relative;
    overflow: hidden;

    .toggleswitch-background {
        position: absolute;
        margin: 0px;
        border: 0px;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        pointer-events: none;
    }

    .toggleswitch-sizer {
        margin: 0px;
        opacity: 0;
        pointer-events: none;
    }

    .toggleswitch-floating-button {
        position: absolute;
        margin: 0px;
        left: 0px;
        right: 0px;
    }

    .toggleswitch-mover {
        border-color: transparent;
        background: none; 
        pointer-events: none;
    }
}
