.ui-switch {
  position: relative;
  display: table;

  .switch-button-outside {
    position: absolute;
  }

  .switch-inner-active {
    position: absolute;
    left:   0px;
    top:    0px;
    right:  0px;
    bottom: 0px;
  }
  .ui-switch-button-hidden {
    display: none;
  }
}
