.ui-switch {
  position: relative;
  display: table;

  .switch-button-outside {
    position: absolute;
  }

  .switch-button-inside {
    display: block;
  }

  .switch-button-transparent {
    opacity: 0;
  }

  .switch-inner-active {
    position: absolute;
  }
}
