@import "../../common/less/jquery.mobile.todons.defines.less";
@selector-height: 66px;
@container-height: 68px;

.ui-datetimepicker {
    width: 476px;

    #datetimepicker-inner-container {
        padding: 6px 10px;
        min-height: @container-height;
    }

    #datetimepicker-header {
        display: block;
        height: 30px;
        font-size: 20px;
        color: #666;
    }

    #datetimepicker-main {
        display: inline;
    }

    #datetimepicker-date {
        display: inline;
    }

    #datetimepicker-time {
        display: inline;
    }

    .data {
        padding: 0 10px 0 0;
        display: inline-block;
        height: 38px;
        font-size: 24px;
    }

    .data-last {
        .data;
        padding: 0;
    }

    .date {
        width: 214px;
        margin-right: 44px;
        display: inline-block;
    }

    .time {
        width: 94px;
        margin-right: 30px;
        display: inline-block;
    }

    .ampm {
        width: 64px;
        display: inline-block;
    }

    .selector {
        display: none;
        z-index: 9999;
        background: @todons-selected-color;
        color: white;
        height: @selector-height;
        font-size: 24px;
        padding: 0;
        margin: 14px 0 0 0;
        text-align: center;

        .container {
            > .view {
                height: @selector-height;
            }

            .item {
                padding: 18px 8px 0 8px;
                float: left;
                a {
                    text-decoration: none;
                    color: #ffc14f;
                    height: @selector-height;
                }
                a.current {
                    color: #fff;
                }
            }

            .year {
                min-width: 65px;
            }

            .month {
                min-width: 50px;
            }

            .day, .hours, .minutes {
                min-width: 30px;
            }
        }
    }
}

