.ui-swipelist-item {
    z-index: 99;
}

.ui-swipelist-item * {
    -webkit-user-select: none;
    -user-select: none;
}

.ui-swipelist-item-cover {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
}
