.ui-volumecontrol-background {
    background: rgba(0, 0, 0, 0.666667);
    filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#aa000000', endColorstr="#aa000000", GradientType = 1);
}

.ui-volumecontrol .ui-volumecontrol-indicator .ui-volumecontrol-level {
    position: absolute;
    background: rgba(1, 1, 1, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#40ffffff', endColorstr="#40ffffff", GradientType = 1);
}
