.ui-tokentextarea {
	padding-left: 0.625em;
	cursor: text;
	min-height: 2.2em;
}

.ui-tokentextarea input {
	padding-left: 0;
	display: inline-block;
}

.ui-tokentextarea.stretched-input input {
	position: absolute;
}

.ui-tokentextarea .ui-tokentextarea-input-shadow {
	visibility: hidden;
	white-space: pre;
	position: absolute;
}

.ui-tokentextarea > a.ui-btn.ui-tokentextarea-button {
	height: 1.6em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	padding: 0.1em 0.5em 0.1em 0.5em;
	max-width: 100%;
	font-weight: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
