.ui-huegradient {
    background: -webkit-gradient(linear, left top, right top,
        color-stop(  0%          ,rgba(255,  0,  0,1)),
        color-stop( 16.666666667%,rgba(255,255,  0,1)),
        color-stop( 33.333333333%,rgba(0  ,255,  0,1)),
        color-stop( 50%          ,rgba(0  ,255,255,1)),
        color-stop( 66.666666667%,rgba(0  ,  0,255,1)),
        color-stop( 83.333333333%,rgba(255,  0,255,1)),
        color-stop(100%          ,rgba(255,  0,  0,1))); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(left, 
        rgba(255,  0,  0,1)   0%, 
        rgba(255,255,  0,1)  16.666666667%,
        rgba(  0,255,  0,1)  33.333333333%,
        rgba(  0,255,255,1)  50%,
        rgba(  0,  0,255,1)  66.666666667%,
        rgba(255,  0,255,1)  83.333333333%,
        rgba(255,  0,  0,1) 100%);
    background: -webkit-linear-gradient(left,
        rgba(255,  0,  0,1)   0%, 
        rgba(255,255,  0,1)  16.666666667%,
        rgba(  0,255,  0,1)  33.333333333%,
        rgba(  0,255,255,1)  50%,
        rgba(  0,  0,255,1)  66.666666667%,
        rgba(255,  0,255,1)  83.333333333%,
        rgba(255,  0,  0,1) 100%);
    background: -o-linear-gradient(left,
        rgba(255,  0,  0,1)   0%, 
        rgba(255,255,  0,1)  16.666666667%,
        rgba(  0,255,  0,1)  33.333333333%,
        rgba(  0,255,255,1)  50%,
        rgba(  0,  0,255,1)  66.666666667%,
        rgba(255,  0,255,1)  83.333333333%,
        rgba(255,  0,  0,1) 100%);
    background: -ms-linear-gradient(left,
        rgba(255,  0,  0,1)   0%, 
        rgba(255,255,  0,1)  16.666666667%,
        rgba(  0,255,  0,1)  33.333333333%,
        rgba(  0,255,255,1)  50%,
        rgba(  0,  0,255,1)  66.666666667%,
        rgba(255,  0,255,1)  83.333333333%,
        rgba(255,  0,  0,1) 100%);
    background: linear-gradient(left,
        rgba(255,  0,  0,1)   0%, 
        rgba(255,255,  0,1)  16.666666667%,
        rgba(  0,255,  0,1)  33.333333333%,
        rgba(  0,255,255,1)  50%,
        rgba(  0,  0,255,1)  66.666666667%,
        rgba(255,  0,255,1)  83.333333333%,
        rgba(255,  0,  0,1) 100%);
}

/* Full-saturation magic grayscale values were taken from the Gimp */
.ui-state-disabled.ui-huegradient,
.ui-disabled.ui-huegradient,
.ui-state-disabled .ui-huegradient,
.ui-disabled .ui-huegradient {
    background: -webkit-gradient(linear, left top, right top,
        color-stop(  0%          ,rgba( 54, 54, 54,1)),
        color-stop( 16.666666667%,rgba(237,237,237,1)),
        color-stop( 33.333333333%,rgba(182,182,182,1)),
        color-stop( 50%          ,rgba(201,201,201,1)),
        color-stop( 66.666666667%,rgba( 18, 18, 18,1)),
        color-stop( 83.333333333%,rgba( 73, 73, 73,1)),
        color-stop(100%          ,rgba( 54, 54, 54,1))); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(left, 
        rgba( 54, 54, 54,1)   0%, 
        rgba(237,237,237,1)  16.666666667%,
        rgba(182,182,182,1)  33.333333333%,
        rgba(201,201,201,1)  50%,
        rgba( 18, 18, 18,1)  66.666666667%,
        rgba( 73, 73, 73,1)  83.333333333%,
        rgba( 54, 54, 54,1) 100%);
    background: -webkit-linear-gradient(left,
        rgba( 54, 54, 54,1)   0%, 
        rgba(237,237,237,1)  16.666666667%,
        rgba(182,182,182,1)  33.333333333%,
        rgba(201,201,201,1)  50%,
        rgba( 18, 18, 18,1)  66.666666667%,
        rgba( 73, 73, 73,1)  83.333333333%,
        rgba( 54, 54, 54,1) 100%);
    background: -o-linear-gradient(left,
        rgba( 54, 54, 54,1)   0%, 
        rgba(237,237,237,1)  16.666666667%,
        rgba(182,182,182,1)  33.333333333%,
        rgba(201,201,201,1)  50%,
        rgba( 18, 18, 18,1)  66.666666667%,
        rgba( 73, 73, 73,1)  83.333333333%,
        rgba( 54, 54, 54,1) 100%);
    background: -ms-linear-gradient(left,
        rgba( 54, 54, 54,1)   0%, 
        rgba(237,237,237,1)  16.666666667%,
        rgba(182,182,182,1)  33.333333333%,
        rgba(201,201,201,1)  50%,
        rgba( 18, 18, 18,1)  66.666666667%,
        rgba( 73, 73, 73,1)  83.333333333%,
        rgba( 54, 54, 54,1) 100%);
    background: linear-gradient(left,
        rgba( 54, 54, 54,1)   0%, 
        rgba(237,237,237,1)  16.666666667%,
        rgba(182,182,182,1)  33.333333333%,
        rgba(201,201,201,1)  50%,
        rgba( 18, 18, 18,1)  66.666666667%,
        rgba( 73, 73, 73,1)  83.333333333%,
        rgba( 54, 54, 54,1) 100%);
}

.ui-huegradient.ie > .ie-grad {
	position: absolute;
	width: 16.666666667%;
	top: 0;
	bottom: 0;
}

/* Assemble a multistep gradient out of multiple one-step gradients */
.ui-huegradient.ie > .ie-grad.g0 {
	left: 0%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#ff0000', endColorstr='#ffff00', GradientType = 1);
}

.ui-huegradient.ie > .ie-grad.g1 {
	left: 16.666666667%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#feff00', endColorstr='#00ff00', GradientType = 1);
}

.ui-huegradient.ie > .ie-grad.g2 {
	left: 33.333333333%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#00ff01', endColorstr='#00ffff', GradientType = 1);
}

.ui-huegradient.ie > .ie-grad.g3 {
	left: 50%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#00feff', endColorstr='#0000ff', GradientType = 1);
}

.ui-huegradient.ie > .ie-grad.g4 {
	left: 66.666666667%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#0100ff', endColorstr='#ff00ff', GradientType = 1);
}

.ui-huegradient.ie > .ie-grad.g5 {
	left: 83.333333333%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#ff00fe', endColorstr='#ff0000', GradientType = 1);
}

.ui-state-disabled.ui-huegradient.ie > .ie-grad.g0,
.ui-state-disabled .ui-huegradient.ie > .ie-grad.g0 {
	left: 0%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#363636', endColorstr='#ededed', GradientType = 1);
}

.ui-state-disabled.ui-huegradient.ie > .ie-grad.g1,
.ui-state-disabled .ui-huegradient.ie > .ie-grad.g1 {
	left: 16.666666667%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#ececec', endColorstr='#b6b6b6', GradientType = 1);
}

.ui-state-disabled.ui-huegradient.ie > .ie-grad.g2,
.ui-state-disabled .ui-huegradient.ie > .ie-grad.g2 {
	left: 33.333333333%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#b7b7b7', endColorstr='#c9c9c9', GradientType = 1);
}

.ui-state-disabled.ui-huegradient.ie > .ie-grad.g3,
.ui-state-disabled .ui-huegradient.ie > .ie-grad.g3 {
	left: 50%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#c8c8c8', endColorstr='#121212', GradientType = 1);
}

.ui-state-disabled.ui-huegradient.ie > .ie-grad.g4,
.ui-state-disabled .ui-huegradient.ie > .ie-grad.g4 {
	left: 66.666666667%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#131313', endColorstr='#494949', GradientType = 1);
}

.ui-state-disabled.ui-huegradient.ie > .ie-grad.g5,
.ui-state-disabled .ui-huegradient.ie > .ie-grad.g5 {
	left: 83.333333333%;
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#484848', endColorstr='#363636', GradientType = 1);
}
