.ui-tokentextarea2 {
	padding-left: 0.625em;
	padding-right: 0.625em;
	cursor: text;
}

.ui-tokentextarea2 input {
	padding-left: 0;
	display: inline-block;
}

.ui-tokentextarea2.stretched-input input {
	position: absolute;
}

.ui-tokentextarea2 .ui-tokentextarea2-input-shadow {
	visibility: hidden;
	white-space: pre;
	position: absolute;
}

.ui-tokentextarea2 > a.ui-btn {
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	margin-top: 0.35em;
	margin-bottom: 0.35em;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
