/*
 * this seems to effect how far the top divider is place wrt to the scrollview
 * without this, it is placed too high, so it is clipped in half
 */
.ui-content.ui-scrollview-clip > .ui-listview.ui-scrollview-view {
    margin: 0;
}

/*
 * turn off bullets
 */
.ui-listview {
    list-style-type: none
}

/*
 * the list scrolls underneith the divider, so need to mask it off
 */
.ui-li-divider {
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff); /* Chrome 10+, Saf5.1+ */
}
