.ui-spinnerbar-container {
    min-height: 1.4em;

    .ui-spinnerbar-clip {
        @spinnerbarClipHeight: 10px;
        @spinnerbarBarBgSide: @spinnerbarClipHeight * 2;
        @spinnerbarBarHeight: @spinnerbarBarBgSide * 2;
        @spinnerbarBarFgColor: #e2e0de;
        @spinnerbarBarBgColor: rgb(225, 173, 83);

        position: absolute;
        overflow: hidden;
        height: @spinnerbarClipHeight;
        width: 96%;
        left: 2%;

        .ui-spinnerbar-bar {
            background: -webkit-linear-gradient(-45deg,
                                                transparent,
                                                transparent 25%,
                                                @spinnerbarBarBgColor 25%,
                                                @spinnerbarBarBgColor 50%,
                                                transparent 50%,
                                                transparent 75%,
                                                @spinnerbarBarBgColor 75%);
            background: -webkit-gradient(linear,
                                         left top,
                                         right bottom,
                                         color-stop(0%,  rgba(0,0,0,0)),
                                         color-stop(25%, rgba(0,0,0,0)),
                                         color-stop(25%, @spinnerbarBarBgColor),
                                         color-stop(50%, @spinnerbarBarBgColor),
                                         color-stop(50%, rgba(0,0,0,0)),
                                         color-stop(75%, rgba(0,0,0,0)),
                                         color-stop(75%, @spinnerbarBarBgColor));
            background-color: @spinnerbarBarFgColor;
            -webkit-background-size: @spinnerbarBarBgSide @spinnerbarBarBgSide;
            height: @spinnerbarBarHeight;
            position: relative;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 10px;
            margin-right: 10px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
