<!DOCTYPE html>
<html>
    <head>
        <title>Web UI Framework - Template application</title>

        <script src="bootstrap.js"
                data-framework-version="0.1"
                data-framework-root="../../build/web-ui-fw"
                data-framework-theme="default">
        </script>
    </head>

    <body>
        <div data-role="page" id="template-page">
            <div data-role="header">
                <h1>Web UI Framework - Template application</h1>
            </div>
            <div data-role="content">
                <p>This application is an empty starting point.</p>
            </div> <!-- /content -->
            <div data-role="footer">
                <h4>Web UI Framework - Template application</h4>
            </div>
        </div> <!-- /page -->
    </body>
</html>
