li.ui-personpicker-row {
    .content {
        display: inline-block;
        .switch {
            float: left;
        }
        h3 {
            float: left;
            margin-left: 20px;
        }
    }
}
