/*
 * padding here set to zero - otherwise the list scrolls underneith the top heading and can be seen above it
 */
.ui-content.ui-scrollview-clip {
    padding: 0;
}

/*
 * this doesn't seem to match anything
 */
.ui-content.ui-scrollview-clip > div.ui-scrollview-view {
    margin: 0;
    padding: 15px;
}

/*
 * this seems to effect how far the top divider is place wrt to the scrollview
 * without this, it is placed too high, so it is clipped in half
 */
.ui-content.ui-scrollview-clip > .ui-listview.ui-scrollview-view {
    margin: 0;
}
