/* dayselector CSS */
.ui-dayselector {
    display: inline-block;
}

.ui-dayselector label {
    height: 56px;
    width: 64px;
}

.ui-dayselector-label-6 {
    color: blue;
}

.ui-dayselector-label-0 {
    color: red;
}

.todons-dayselector-disabled .ui-dayselector-label-6 {
    color: #121212;
}

.todons-dayselector-disabled .ui-dayselector-label-0 {
    color: #363636;
}
