/* dayselector CSS */
.ui-days li {
	display: inline;
	list-style: none;
	background: #f4efeb;
}

.bgWhite {
	background-color: white;
}

.bgOrange {
	background-color: orange;
}

.ui-days li a {
	color: #645f5b;
	display: inline-block;	
	/*
	background-color: rgb(255, 255, 255);
	*/
	/*background-color: white;
	*/
	padding-left: 1px;
	height: 56px;
	width: 64px;
	text-align: center;
	line-height: 4em;
	text-decoration: none;
}


.ui-days li a.sunday{
	color: red;
}

.ui-days li a.saturday{
	color: blue;
}


/*
.ui-days li a:hover {
	background: orange; // rgb(255,165,0) ffA500
}
*/
