.ui-popupwindow {
    display: inline-block;
    position: absolute;

    .ui-popupwindow-container-inner {
        padding: 6px;
    }
}

.ui-popupwindow-screen {
    background: #000000;
    opacity: 0;
}
