.ui-colorpicker .colorpicker-hs-container .sat-gradient {
    background: none; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom,
        color-stop(0%,rgba(128,128,128,0)), 
        color-stop(100%,rgba(128,128,128,1))); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, 
        rgba(128,128,128,0) 0%, 
        rgba(128,128,128,1) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, 
        rgba(128,128,128,0) 0%,
        rgba(128,128,128,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, 
        rgba(128,128,128,0) 0%,
        rgba(128,128,128,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, 
        rgba(128,128,128,0) 0%,
        rgba(128,128,128,1) 100%); /* IE10+ */
    background: linear-gradient(top, 
        rgba(128,128,128,0) 0%,
        rgba(128,128,128,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#00808080', endColorstr="#808080", GradientType = 0);
}

.ui-colorpicker .colorpicker-l-container .l-gradient {
    background: none; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom,
        color-stop(0%,rgba(0,0,0,1)),
        color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top,
        rgba(0,0,0,1) 0%, 
        rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, 
        rgba(0,0,0,1) 0%,
        rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, 
        rgba(0,0,0,1) 0%,
        rgba(255,255,255,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, 
        rgba(0,0,0,1) 0%,
        rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top, 
        rgba(0,0,0,1) 0%,
        rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#000000', endColorstr="#ffffff", GradientType = 0);
}
