/* Own CSS */
.ui-progressbar {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
  height: 10px;
  background: white;
}

.ui-boxImg {	
	position: relative;
	top: 0;
	background: gray;
	width: 100%;
	height: 10px;
}

.ui-barImg {
	position: relative;
	top: -10px;
	background: orange;
	height: 10px;
	width: 0;	
}



