.ui-volumecontrol {
    display: table;
    margin: auto;

    h1 {
        display: table;
        margin: auto;
        color: #c0c0c0;
    }

    .ui-volumecontrol-icon {
        display: table;
        margin: auto;
        background-image: url('images/web-ui-fw_volume_icon.png');
        background-repeat: no-repeat;
        background-position: center center;
        width:  54px;
        height: 54px;
        padding-top:     13px;
        padding-bottom:  13px;
        padding-left:   104px;
        padding-right:  104px;
    }

    .ui-volumecontrol-indicator {
        position: relative;
        display: table;
        margin: auto;
        width: 175px;
        height: 263px;

        .ui-volumecontrol-level {
            position: absolute;
        }

        .ui-volumecontrol-level-set {
            background: #ffffff;
        }
    }
}
