.ui-volumecontrol {
  display: table;
  margin: auto;

  h1 {
    display: table;
    margin: auto;
  }

  .ui-volumecontrol-icon {
    display: table;
    margin: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 104px;
    padding-right: 104px;
  }

  .ui-volumecontrol-indicator {
    margin: auto;
    display: table;
  }
}
