.ui-volumecontrol {
  display: table;
  margin: auto;
  background: rgba(0, 0, 0, 0.666667);

  h1 {
    display: table;
    margin: auto;
    color: #c0c0c0;
  }

  .ui-volumecontrol-icon {
    display: table;
    margin: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 104px;
    padding-right: 104px;
  }

  .ui-volumecontrol-indicator {
    margin: auto;
    display: table;
  }
}
