/* Own CSS */

/* @selector-size should be an odd number, in order to pixel-perfectly center on a given colour */
@selector-size: 61px;
@selector-border-width: 5px;
@selector-total-size: @selector-size + 2 * @selector-border-width;
@canvas-width: 256px + @selector-total-size + 16px;
@canvas-height: 256px;

.ui-colorpicker {

  position: relative;

  .ui-colorpicker-canvas-border {
    width: @canvas-width;
    height: @canvas-height;
    padding: (@selector-total-size - 1) / 2;
    background: darkgreen;
  }

  .ui-colorpicker-canvas-selector {
    left: 0px;
    top: 0px;
    position: absolute;
    width: @selector-size;
    height: @selector-size;
    border: solid @selector-border-width black;
  }

  .ui-colorpicker-canvas {
    width: @canvas-width;
    height: @canvas-height;
  }
}
