.ui-shortcutscroll {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: rgba(225, 221, 215,0.5);
  max-width: 20px;
  min-width: 12px;
  -webkit-user-select: none;
  margin:0;
  padding:0;
  opacity: 1;
}
.ui-shortcutscroll ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.ui-shortcutscroll li {
  cursor: pointer;
  color:rgba(0,0,0,0.6);
  padding: 2px 2px 2px 5px;
  text-shadow: none !important;
}

.ui-shortcutscroll-popup {
  position: absolute;
  background: rgba(255,255,255,1);
  padding:10px 30px;
  -moz-box-shadow: 8px 10px 0px rgb(199, 199, 199);
	-webkit-box-shadow: 8px 10px 0px rgb(199, 199, 199);
	box-shadow: 8px 10px 0px rgb(199, 199, 199);
	text-align: center;
  font-size: 75px;
  font-weight: bold;
  display:none;
  box-sizing:border-box;
  color: black;
}
