.ui-shortcutscroll {
  position: absolute;
  right: 0px;
  top: 121px;
  background-color: rgb(225, 221, 215);
  opacity: 0.8;
  height: 673px;
  max-width: 20px;
  min-width: 12px;
}

.ui-shortcutscroll li {
  list-style-type: none;
  text-align: center;
  margin-left: -2.2em;
  padding: 0px;
  min-height: 14px;
  width: 100%;
  -webkit-user-select: none;
  cursor: pointer;
  color: rgb(93, 93, 93);
}

.ui-shortcutscroll-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  color: red;
}
